
@font-face {
  font-family: infected;
  src: url("../INFECTED.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../Roboto-Regular.ttf");
}

@font-face {
  font-family: HardStones;
  src: url("../Hardstones.ttf");
}

#jad-navbar-brand {
  font-family: infected;
  color: white;
  font-size: 45px;
}

body{
  background-color: #EAEAEA;
}

#bryPage{
  background-color:#FFFFFF;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  height: 4500px;

}

#bryImage{
  padding-left: 60px;
}

#bryBike{
padding-right:30px;
}

#bryDetails{
  padding-top: 50px;
  padding-bottom: 155px;
  border-right: 1px solid #EEEEEE;
}

#bryBike{
font-size: 13px;
}

#bryBrands img{
  margin-left:10px;

}

#bry-bike-name{
  font-family: roboto;
}

#bry-bike-details{
  font-family: roboto;
  font-size: 15px;
  color: #616161;
}
