<div class="well">
  <h2 class="bike-page">{{model.name}}</h2>
  <p class="author">By <strong>Jaden</strong></p>
  <br>
  <div class="row">
    <div class="col-md-4">
      <img src="{{model.bikePhoto1}}" alt="" height="200" width="300">
    </div>
    <div class="col-md-4">
      <img src="{{model.bikePhoto2}}" alt="" height="200" width="300">
    </div>
    <div class="col-md-4">
      <img src="{{model.bikePhoto3}}" alt="" height="200" width="300">
    </div>
  </div>

</div>
