<div id="albody">
<div class="row">
 <div class="col-md-6 container" id="aldiva">
   <div class="">
     <h1 class="alcontact">Contact Us here</h1>
     <footer>
       <a href="https://facebook.com" target="blank_" class="fa fa-facebook"></a>
       <a href="https://twitter.com" target="blank_" class="fa fa-twitter"></a>
       <a href="https://linkedin.com" target="blank_" class="fa fa-linkedin"></a>
       <a href="https://youtube.com" target="blank_" class="fa fa-youtube"></a>
       <a href="https://instagram.com" target="blank_" class="fa fa-instagram"></a>
     </footer>
   </div>
   <div class="jumbotron a">
     <h2>Telephone number: +255745728794</h2>
     <p></p>
   </div>
   <div class="jumbotron a">
     <h2>Fax number: 988794</h2>
     <p></p>
   </div>
   <div class="jumbotron a">
     <h2>Email Address: bikeden@gmail.com</h2>
     <p></p>
   </div>
 </div>
 <div class="col-md-6 container" id="aldivb">
   <div class="jumbotron">
     <h3>Feedback Form</h3>
     <form class="" id="alform">
       <label for="name">Name</label><br>
       <input type="text" placeholder="Name" name="Name" value=""> <br>
       <label for="email">Email Address</label><br>
       <input type="email" placeholder="Email Address" name="email" value="" required> <br>
       <label for="feedback">Feedback</label><br>
       <input type="text" placeholder="Feedback" class="feedback" name="feedback" value="" required><br>
       <button type="submit" class="btn btn-danger" name="button">Submit</button>

     </form>
   </div>


 </div>

</div>
</div>
