<div class="container">
  <h2>HELMETS</h2>
  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Custom Iron Man Helmet</p>
        <a href="" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://themotorcyclehelmet.com/wp-content/uploads/2016/02/Masei-ABS-Shell-open-Face-Motorcycle-Helmet.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Futuristic Custom helmet</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://s-media-cache-ak0.pinimg.com/564x/95/31/53/95315337b0470a62e8eeeb3593bff9d4.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Lord Vader custom helmet mask</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/51/60/c5/5160c51ec7357c78c7719b61a81aceb6.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>
<div class="container 2">


  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Steampunk stormtrooper custom helmet</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://badasshelmetstore.com/wp-content/uploads/2014/08/stormtroopers-steampunk-helmet-300x300.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Steampunk skull mask</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://www.thebeijingshop.com/images/Bronze%20rider%20Skull%20bone%20Full%20Face%20Motorcycle%20Helmet.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">HELMET</span>
        <hr />
        <p>Steampunk Optimus prime helmet</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://badasshelmetstore.com/wp-content/uploads/2014/08/steampunk-helmets-optimus-prime-transformers-300x300.png" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>


<div class="container 2">
  <h2>BIKE ARMOUR AND SHIN GUARDS</h2>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">ARMOUR</span>
        <hr />
        <p>Batman bike jacket</p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://s-media-cache-ak0.pinimg.com/564x/b0/5b/04/b05b04444c0051b2fcb3ed4fdb03cc27.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">ARMOUR</span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://i.ebayimg.com/00/s/NTAwWDUwMA==/z/02sAAOxycmBS-rOu/$_3.JPG?set_id=2" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading">ARMOUR</span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://i131.photobucket.com/albums/p306/ryankarl/fox.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>


<div class="container 2">


  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://www.mtbcommunity.com/images/products/fox_pads.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://ae01.alicdn.com/kf/HTB1NEdFKVXXXXbdXVXXq6xXFXXX2/Race-Collar-Neck-Knee-Guard-font-b-Shin-b-font-font-b-Pads-b-font-Motorcycle.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://ae01.alicdn.com/kf/HTB10I_SNXXXXXaSXpXXq6xXFXXX7/Free-shipping-1pair-P03-Adults-Knee-font-b-Shin-b-font-Armor-protector-font-b-Guard.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>


<div class="container 2">
  <h2>BIKE FACE SHIELDS AND FACE MASKS</h2>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://s3-ap-southeast-1.amazonaws.com/a2.datacaciques.com/16/09/08/446s0824vxens7vx/d9e71d953411c9c0.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://badasshelmetstore.com/wp-content/uploads/clown-facemask-2-300x300.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://cdn.silodrome.com/wp-content/uploads/2015/03/Motorcycle-Face-Mask-6.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>


<div class="container 2">


  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="http://www.motorcyclefacemasks.com/wp-content/uploads/2012/11/Zan_Black_Neoprene_Face_Mask_Black_detail.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://n2.sdlcdn.com/imgs/a/i/p/Sangitap-Bikers-Half-Face-Mask-SDL236564779-1-f10c5.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
        <span class="heading"></span>
        <hr />
        <p></p>
        <a href="{URL}" class="button">BUY</a>
      </div>
      <div class="bg"></div>
      <div class="base">
        <img src="https://ae01.alicdn.com/kf/HTB1WYc_KpXXXXcRXpXXq6xXFXXXc/Cycling-Training-font-b-Mask-b-font-Skiing-Hiking-Hunting-2-in-1-Reversible-font-b.jpg" alt="" height="300" width="300" />
      </div>
    </div>
  </div>
</div>
